---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Business from '../components/Business.astro';
import News from '../components/News.astro';
import Founder from '../components/Founder.astro';
import JoinUs from '../components/JoinUs.astro';
---

<BaseLayout title="株式会社Contact｜医療に革命を起こす">
  <Header />
  <main>
    <Hero />
    <About />
    <Business />
    <News />
    <Founder />
    <JoinUs />
  </main>
  <Footer />
</BaseLayout>
